<%= form_with(model: point, local: true) do |form| %>
  <% if point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :warranty_book_image %>
    <%= form.text_field :warranty_book_image %>
  </div>

  <div class="field">
    <%= form.label :serial_number_unit_indoor %>
    <%= form.text_field :serial_number_unit_indoor %>
  </div>

  <div class="field">
    <%= form.label :serial_number_unit_indoor_image %>
    <%= form.text_field :serial_number_unit_indoor_image %>
  </div>

  <div class="field">
    <%= form.label :serial_number_outdoor %>
    <%= form.text_field :serial_number_outdoor %>
  </div>

  <div class="field">
    <%= form.label :serial_number_outdoor_image %>
    <%= form.text_field :serial_number_outdoor_image %>
  </div>

  <div class="field">
    <%= form.label :image_verification %>
    <%= form.text_field :image_verification %>
  </div>

  <div class="field">
    <%= form.label :point %>
    <%= form.number_field :point %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :indoor_unit_id %>
    <%= form.number_field :indoor_unit_id %>
  </div>

  <div class="field">
    <%= form.label :outdoor_unit_id %>
    <%= form.number_field :outdoor_unit_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
