<p id="notice"><%= notice %></p>

<h1>Points</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Warranty book image</th>
      <th>Serial number unit indoor</th>
      <th>Serial number unit indoor image</th>
      <th>Serial number outdoor</th>
      <th>Serial number outdoor image</th>
      <th>Image verification</th>
      <th>Point</th>
      <th>Status</th>
      <th>Indoor unit</th>
      <th>Outdoor unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.user %></td>
        <td><%= point.warranty_book_image %></td>
        <td><%= point.serial_number_unit_indoor %></td>
        <td><%= point.serial_number_unit_indoor_image %></td>
        <td><%= point.serial_number_outdoor %></td>
        <td><%= point.serial_number_outdoor_image %></td>
        <td><%= point.image_verification %></td>
        <td><%= point.point %></td>
        <td><%= point.status %></td>
        <td><%= point.indoor_unit_id %></td>
        <td><%= point.outdoor_unit_id %></td>
        <td><%= link_to 'Show', point %></td>
        <td><%= link_to 'Edit', edit_point_path(point) %></td>
        <td><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point', new_point_path %>
