<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @point.user %>
</p>

<p>
  <strong>Warranty book image:</strong>
  <%= @point.warranty_book_image %>
</p>

<p>
  <strong>Serial number unit indoor:</strong>
  <%= @point.serial_number_unit_indoor %>
</p>

<p>
  <strong>Serial number unit indoor image:</strong>
  <%= @point.serial_number_unit_indoor_image %>
</p>

<p>
  <strong>Serial number outdoor:</strong>
  <%= @point.serial_number_outdoor %>
</p>

<p>
  <strong>Serial number outdoor image:</strong>
  <%= @point.serial_number_outdoor_image %>
</p>

<p>
  <strong>Image verification:</strong>
  <%= @point.image_verification %>
</p>

<p>
  <strong>Point:</strong>
  <%= @point.point %>
</p>

<p>
  <strong>Status:</strong>
  <%= @point.status %>
</p>

<p>
  <strong>Indoor unit:</strong>
  <%= @point.indoor_unit_id %>
</p>

<p>
  <strong>Outdoor unit:</strong>
  <%= @point.outdoor_unit_id %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
