<%= form_with(model: point_detail, local: true) do |form| %>
  <% if point_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point_detail.errors.count, "error") %> prohibited this point_detail from being saved:</h2>

      <ul>
      <% point_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :point_id %>
    <%= form.text_field :point_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
