<p id="notice"><%= notice %></p>

<h1>Point Details</h1>

<table>
  <thead>
    <tr>
      <th>Point</th>
      <th>Image</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @point_details.each do |point_detail| %>
      <tr>
        <td><%= point_detail.point %></td>
        <td><%= point_detail.image %></td>
        <td><%= point_detail.title %></td>
        <td><%= link_to 'Show', point_detail %></td>
        <td><%= link_to 'Edit', edit_point_detail_path(point_detail) %></td>
        <td><%= link_to 'Destroy', point_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point Detail', new_point_detail_path %>
