<p id="notice"><%= notice %></p>

<p>
  <strong>Point:</strong>
  <%= @point_detail.point %>
</p>

<p>
  <strong>Image:</strong>
  <%= @point_detail.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @point_detail.title %>
</p>

<%= link_to 'Edit', edit_point_detail_path(@point_detail) %> |
<%= link_to 'Back', point_details_path %>
