<section class="w-100 d-flex align-items-center position-relative" style="min-height:100vh;overflow:hidden">
  <div class="container" style="z-index:20">

    <div class="w-50">
      <h5 class=" sub-hero-text mb-1" >AC Mitsubishi Heavy Duty Installer Reward Poin</h5>
      <h1 class=" hero-text">
        Kumpulkan <span> Poin </span> Sebanyak Banyaknya dan Tukarkan Dengan
  Hadiah Uang Hingga <span> Jutaan </span> Rupiah !
      </h1>
      <p class=" mt-2">
        Segera tukarkan poinmu dan dapatkan kesempatan  untuk memenangkan hadiah  uang tunai hingga jutaan rupiah

      </p>

      <a href="#" class="btn btn-main mt-3">
        Ambil Hadiahnya Sekarang
      </a>
    </div>



  </div>

  <div class="w-100 image-hero-position" >
    <img src="<%= asset_url('main-hero.png') %>" alt="" class=" image-hero">
  </div>

  <div class="w-100 trapesium-hero" >
    <img src="<%= asset_url('trapes.svg') %>" alt="" class="w-50">
  </div>

  <div class="social-media-hero">
    <div class="d-flex container">
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
  </div>
</section>

<section class="w-100 position-relative" style="background:transparent;">
  <div class="position-relative">
    <img src="<%= asset_url('bg-ltr.svg') %>" alt="" class="w-100">
    <div class="sub-title-banner-position">
      <h2>Cara Mendapatkan Hadiah</h2>
    </div>
  </div>

  <div class="container-fluid my-80 position-relative" style="z-index:14;">
    <div class="w-75 hwt-row">
      <div class="row">
        <div class="col-md-3 p-0">
          <div class="position-relative d-flex h-100">
            <div class="position-absolute" style="z-index:10;bottom:0;">
              <div class="hwt-container">
                <div class="">
                  <p class="hwt-number">01</p>
                  <p class="hwt-title">Daftarkan Diri kamu</p>
                </div>
              </div>
            </div>
            <img src="<%= asset_url('how-to-1.png') %>" alt="" class="w-100">
          </div>
        </div>
        <div class="col-md-3 p-0">
          <div class="position-relative d-flex h-100">
            <div class="position-absolute" style="z-index:10;bottom:0;">
              <div class="hwt-container">
                <div class="">
                  <p class="hwt-number">02</p>
                  <p class="hwt-title">Upload Bukti Pemasangan</p>
                </div>
              </div>
            </div>
            <img src="<%= asset_url('how-to-2.png') %>" alt="" class="w-100">
          </div>
        </div>
        <div class="col-md-3 p-0">
          <div class="position-relative d-flex h-100">
            <div class="position-absolute" style="z-index:10;bottom:0;">
              <div class="hwt-container">
                <div class="">
                  <p class="hwt-number">03</p>
                  <p class="hwt-title">Kumpulkan Poinnya</p>
                </div>
              </div>
            </div>
            <img src="<%= asset_url('how-to-3.png') %>" alt="" class="w-100">
          </div>
        </div>
        <div class="col-md-3 p-0">
          <div class="position-relative d-flex h-100">
            <div class="position-absolute" style="z-index:10;bottom:0;">
              <div class="hwt-container">
                <div class="">
                  <p class="hwt-number">04</p>
                  <p class="hwt-title">Tukar Poin dengan Hadiah</p>
                </div>
              </div>
            </div>
            <img src="<%= asset_url('how-to-4.png') %>" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="trs-bawah">
    <img src="<%= asset_url('trapesium-bawah.png') %>" alt="" class="w-100">
  </div>
</section>


<section style="">

  <div class="position-relative">
    <img src="<%= asset_url('bg-rtl.svg') %>" alt="" class="w-100">
    <div class="sub-title-banner-position-left">
      <h2>Leaderboards</h2>
    </div>
  </div>

  <div class="container">
    <div class="my-80">
      <div class="d-block shadow w-75 m-auto" style="border-radius:10px;">
        <div class="text-center mb-3 p-3">
          <h3>
            Top 10 Installer
          </h3>

          <div class="w-75 m-auto">
            <div class="row w-100">
              <div class="col-4">
                <div class="p-5">
                  <div class="image-wnr-contr">
                    <img src="<%= asset_url('man3.png') %>" alt="" class="w-100 image-wnr">
                  </div>
                  <div class="image-wnr-ribbon position-relative">
                    <img src="<%= asset_url('ribbon.png') %>" alt="" class="w-100">
                    <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center rbn-number">
                      <p>#2</p>
                    </div>
                  </div>
                </div>
                <div class="text-center winner-top-3">
                  <h4>Dimas P</h4>
                  <h5>11.650 Poin</h5>
                </div>
              </div>
              <div class="col-4">
                <div class="p-4">
                  <div class="image-wnr-contr">
                    <img src="<%= asset_url('man1.png') %>" alt="" class="w-100 image-wnr">
                  </div>
                  <div class="image-wnr-ribbon position-relative">
                    <img src="<%= asset_url('ribbon.png') %>" alt="" class="w-100">
                    <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center rbn-number">
                      <p>#1</p>
                    </div>
                  </div>
                </div>
                <div class="text-center winner-top-3">
                  <h4>Ridwan HF</h4>
                  <h5>12.550 Poin</h5>
                </div>
              </div>
              <div class="col-4">
                <div class="p-5">
                  <div class="image-wnr-contr">
                    <img src="<%= asset_url('man2.png') %>" alt="" class="w-100 image-wnr">
                  </div>
                  <div class="image-wnr-ribbon position-relative">
                    <img src="<%= asset_url('ribbon.png') %>" alt="" class="w-100">
                    <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center rbn-number">
                      <p>#3</p>
                    </div>
                  </div>
                </div>
                <div class="text-center winner-top-3">
                  <h4>Enrico</h4>
                  <h5>11.004 Poin</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="block-gray">
            <div class="row">
              <div class="col-md-1">
                <div class="text-center">
                  4.
                </div>
              </div>
              <div class="col-md-9">
                <p class="name mb-0">
                  David
                </p>
              </div>
              <div class="col-md-2">
                <p class="poin mb-0">
                  7.000 Poin
                </p>
              </div>
            </div>
          </div>
          <div class="block-white">
            <div class="row">
              <div class="col-md-1">
                <div class="text-center">
                  5.
                </div>
              </div>
              <div class="col-md-9">
                <p class="name mb-0">
                  Rendy
                </p>
              </div>
              <div class="col-md-2">
                <p class="poin mb-0">
                  6.888 Poin
                </p>
              </div>
            </div>
          </div>
          <div class="block-gray">
            <div class="row">
              <div class="col-md-1">
                <div class="text-center">
                  6.
                </div>
              </div>
              <div class="col-md-9">
                <p class="name mb-0">
                  Albert
                </p>
              </div>
              <div class="col-md-2">
                <p class="poin mb-0">
                  6.700 Poin
                </p>
              </div>
            </div>
          </div>
          <div class="block-white">
            <div class="row">
              <div class="col-md-1">
                <div class="text-center">
                  7.
                </div>
              </div>
              <div class="col-md-9">
                <p class="name mb-0">
                  Riski
                </p>
              </div>
              <div class="col-md-2">
                <p class="poin mb-0">
                  6.632 Poin
                </p>
              </div>
            </div>
          </div>
          <div class="block-gray">
            <div class="row">
              <div class="col-md-1">
                <div class="text-center">
                  8.
                </div>
              </div>
              <div class="col-md-9">
                <p class="name mb-0">
                  Dustin
                </p>
              </div>
              <div class="col-md-2">
                <p class="poin mb-0">
                  6.200 Poin
                </p>
              </div>
            </div>
          </div>
          <div class="block-white">
            <div class="row">
              <div class="col-md-1">
                <div class="text-center">
                  9.
                </div>
              </div>
              <div class="col-md-9">
                <p class="name mb-0">
                  Bambang
                </p>
              </div>
              <div class="col-md-2">
                <p class="poin mb-0">
                  5.999 Poin
                </p>
              </div>
            </div>
          </div>
          <div class="block-gray" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <div class="row">
              <div class="col-md-1">
                <div class="text-center">
                  10.
                </div>
              </div>
              <div class="col-md-9">
                <p class="name mb-0">
                  Takel
                </p>
              </div>
              <div class="col-md-2">
                <p class="poin mb-0">
                  5.700 Poin
                </p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</section>


<section class="w-100 position-relative" style="background:transparent; margin-bottom:80px">
  <div class="position-relative">
    <img src="<%= asset_url('bg-ltr.svg') %>" alt="" class="w-100">
    <div class="sub-title-banner-position">
      <h2>Syarat dan Ketentuan</h2>
    </div>
  </div>

  <div class="my-80">
    <div class="w-50 m-auto ">
      <div class="border mb-3 p-3">
        <div class="row align-items-center">
          <div class="col-md-1">
            <div class="text-center">
              <p style="font-size:30px;font-weight:900" class=" mb-0 order">
                01<span>.</span>
              </p>
            </div>
          </div>

          <div class="col-md-10">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="border mb-3 p-3">
        <div class="row align-items-center">
          <div class="col-md-1">
            <div class="text-center">
              <p style="font-size:30px;font-weight:900" class=" mb-0 order">
                02<span>.</span>
              </p>
            </div>
          </div>

          <div class="col-md-10">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="border mb-3 p-3">
        <div class="row align-items-center">
          <div class="col-md-1">
            <div class="text-center">
              <p style="font-size:30px;font-weight:900" class=" mb-0 order">
                03<span>.</span>
              </p>
            </div>
          </div>

          <div class="col-md-10">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="border mb-3 p-3">
        <div class="row align-items-center">
          <div class="col-md-1">
            <div class="text-center">
              <p style="font-size:30px;font-weight:900" class=" mb-0 order">
                04<span>.</span>
              </p>
            </div>
          </div>

          <div class="col-md-10">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="border mb-3 p-3">
        <div class="row align-items-center">
          <div class="col-md-1">
            <div class="text-center">
              <p style="font-size:30px;font-weight:900" class=" mb-0 order">
                05<span>.</span>
              </p>
            </div>
          </div>

          <div class="col-md-10">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="border mb-3 p-3">
        <div class="row align-items-center">
          <div class="col-md-1">
            <div class="text-center">
              <p style="font-size:30px;font-weight:900" class=" mb-0 order">
                06<span>.</span>
              </p>
            </div>
          </div>

          <div class="col-md-10">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<section  style="background:#27262c;" class="p-5 text-center quets">
  <div class="w-50 m-auto">
    <p>
      Mari bergabung  dan kumpulkan <span>Poin</span> kamu sebanyak banyaknya untuk memenangkan  hadiah uang tunai hingga jutaan rupiah
    </p>
    <a href="#" class="btn btn-main">
      Ambil Hadiahnya Sekarang
    </a>
  </div>
</section>
