<p id="notice"><%= notice %></p>

<h1>Indoor Units</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indoor_units.each do |indoor_unit| %>
      <tr>
        <td><%= indoor_unit.title %></td>
        <td><%= indoor_unit.point %></td>
        <td><%= link_to 'Show', indoor_unit %></td>
        <td><%= link_to 'Edit', edit_indoor_unit_path(indoor_unit) %></td>
        <td><%= link_to 'Destroy', indoor_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indoor Unit', new_indoor_unit_path %>
