<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @indoor_unit.title %>
</p>

<p>
  <strong>Point:</strong>
  <%= @indoor_unit.point %>
</p>

<%= link_to 'Edit', edit_indoor_unit_path(@indoor_unit) %> |
<%= link_to 'Back', indoor_units_path %>
