/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require font-awesome
 */

 body{
   font-family: 'Lato', sans-serif;
   font-weight: 300;
 }

 a{
   text-decoration: none;
 }

 .txt-green{
   color: #fbe925;
 }

.font-pd{
  font-family: 'Playfair Display', serif;
}

.nav-top{
  background: none ;
}

.navbar-brand{

  top: 5px;
  left: 0;
}

.scrolled{
  background: white;
}

.scrolled .mn-btn{
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid  #A50F1B;
  background: #A50F1B;
  font-weight: 900;
  transition: box-shadow 0.3s ease-in-out;
}

.scrolled .mn-btn:hover{
  background: #A50F1B;
  color: white;
  border: 1px solid  #A50F1B;
  box-shadow: 0px 10px 25px -1px  #A50F1B;
}
.mn-btn{
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid  white;
  background: transparent;
  font-weight: 900;
}

.mn-btn:hover{
  background: white;
  color: #A50F1B;
  border: 1px solid white;
  box-shadow: 0px 10px 25px -1px rgb(255 255 255 / 50%);
}

.main-nav .nav-item a{
  position: relative;
  color: #A50F1B;
  font-weight: 300;
  padding:0 !important;
  padding-bottom: 10px !important;
  margin-top: 10px;
  margin-left: 40px;
}

.main-nav .nav-item a::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 0.175rem;
  background: #A50F1B;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

.main-nav .nav-item a:hover::after {
  transform: scale(1, 1);
}


.arrows {
	width: 60px;
	height: 72px;

}

.arrows path {
	stroke: #ce9139;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

#tnc li{
  color: white;
  font-size: 20px;
}

.uploader {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  font-size: 1.25rem;
background-color: #c8dadf;
position: relative;
padding: 100px 20px;
}

.bg-main{
  background-color: #FAD0DA;
}



.btn-main, .btn-main:hover{
  background: #A50F1B;
  border-radius: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 20px;
}

.btn-main:hover{
  background: #A50F1B;
  box-shadow: 0px 10px 25px -1px #a50f1b;
  color: #FFFFFF;
  padding: 10px 20px;
}

.sub-hero-text{
  font-weight: 700;
  font-size: 18px;
  color: #A50F1B;
}

.hero-text{
  font: bold 40px Sans-Serif;
  line-height: 1.5;
}

.hero-text span{
  color: #A50F1B;
}

.sub-title-banner-position{
  position: absolute;
  top: 2vw;
  left: 20%;
}

.hwt-row::after{
  content: '';
  position: absolute;
  width: 70%;
  height: 10px;
  background: #A50F1B;
  left: 10%;
  bottom: -5px;
}

.sub-title-banner-position-left{
  position: absolute;
  top: 2vw;
  right: 30%;
}


.sub-title-banner-position::after{
  content: '';
  position: absolute;
  width: 20%;
  height: 0.175rem;
  background: #A50F1B;
  left: 0;
  bottom: 0;
}

.sub-title-banner-position h2{
  color: white;
  font-weight: 900;
}

.sub-title-banner-position-left::after{
  content: '';
  position: absolute;
  width: 20%;
  height: 0.175rem;
  background: #A50F1B;
  left: 0;
  bottom: 0;
}

.sub-title-banner-position-left h2{
  color: white;
  font-weight: 900;
}

.social-media-hero{
  position:  absolute;
  bottom: 50px;
  width: 100%;
  z-index: 15;
}

.social-media-hero a{
  color: #A50F1B;
  font-size: 30px;
  padding-right: 20px;
}

.btn-container{
  position: absolute;
    /* left: 15%; */
    /* bottom: 380px; */
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 0;
}

.trs-bawah{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 13;
}

.hwt-container{
  position: relative;
  z-index: 12;
  padding: 20px;
  display: flex;
  align-items: end;
  height: 100%;
}

.hwt-number{
  font-size: 40px;
  color: rgba(233, 233, 233, 20%);
}
.hwt-title{
  font-size: 40px;
  color: white;
}

.hwt-desc{
  font-size: 14px;
  color: white;
}
#howto{
  background-color: #E61A58;
  margin-top: -50px;
  padding: 40px 0
}
.heading{
  font-family: Lobster;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 60px;
color: white;
text-transform: capitalize;
}

.trapesium-hero{
  position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    /* width: 100%; */
    display: flex;
    justify-content: end;
}

.image-hero-position{
  z-index: 11;
    position: absolute;
    right: -50px;
    bottom: -25px;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100vh;
}
.image-hero{
  border-radius: 100%;
  width: 45%;
  border: 3px solid #A50F1B;
}

.img-heading{
  position: absolute;
  width: 100%;
  display:flex;
  justify-content: center;
  top: -25px;

}

.form-control{
  background: #E5E5E5;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 10px;
}

.menu-mobile-triger-open{
  z-index: 90;
  position: fixed;
  top: 0;
  right: 0;
  /* padding: 10px; */
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  background: #652f7d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.navbar{
  z-index: 90;
}

.menu-mobile-triger-close{
  z-index: 90;
  position: absolute;
  top: 0;
  right: 0;
  /* padding: 10px; */
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu-mobile-overlay{
  position: fixed;
  width: 100%;
  height: 0;
  z-index: 99;
  overflow-x: hidden;
  transition: 0.5s;
}

.menu-mobile-overlay ul{
  text-align: center;
  list-style: none;
  padding: 0 20px;

}
.menu-mobile-overlay ul li{
  margin-bottom: 20px;
}

.menu-mobile-overlay ul li a{
  color: black;
  font-weight: 700;
}

.menu-footer{
  background: #E61A58;
}

.vdv-inx{
  margin-left:-30%;margin-top:70px
}

.vdv-inx video{
  width: 130%;
}

.rank{
  font-size: 18px;
  font-weight: 900;
}

.rank-number{
  font-family: Lobster;
  font-size: 25px;
  color: #E51959;
}

.image-wnr-contr{
  position:  relative;
  z-index: 8;
}

.image-wnr{
  border-radius: 100%;
  border: 10px solid red;
}

.image-wnr-ribbon{
  margin-top: -10%;
  z-index: 7;
  padding: 0 20%;
}

.rbn-number{
  top: 0;
  left: 0;
  width: 100%;
}

.rbn-number p{
  color: white;
  font-size: 40px;
  font-weight: 900;
}

.winner-top-3 h4{
  color: #3D3D49;
  font-size: 20px;
}

.winner-top-3 h5{
  color: #E21C2B;
  font-size: 20px;
}

.block-gray{
  background: #F8F8F8;
  padding: 15px 10px;
}

.block-white{
  padding: 15px 10px;
}

.block-gray .name, .block-white .name{
  color: #3D3D49;
}

.block-gray .poin, .block-white .poin{
  color: #E21C2B;
}

.quets{
  font-size: 25px;
  color: white;
}

.footer{
  background: #B71B27;

}

.my-80{
  margin: 80px 0;
}

.order span{
  color: #B71B27;
}

@media (max-width: 575.98px) {



  .bg-mobile{
    background: none !important;
  }

  .vdv-inx{
    margin-left:0;
    margin-top:0;
    margin-bottom: 40px;
  }

  .vdv-inx video{
    width: 100%;
  }

 }


@media (min-width: 576px) and (max-width: 767.98px) {  }


@media (min-width: 768px) and (max-width: 991.98px) {  }


@media (min-width: 992px) and (max-width: 1199.98px) {  }


@media (min-width: 1200px) {  }
