<%= form_with(model: oudoor_unit, local: true) do |form| %>
  <% if oudoor_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oudoor_unit.errors.count, "error") %> prohibited this oudoor_unit from being saved:</h2>

      <ul>
      <% oudoor_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :point %>
    <%= form.text_field :point %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
