<p id="notice"><%= notice %></p>

<h1>Oudoor Units</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oudoor_units.each do |oudoor_unit| %>
      <tr>
        <td><%= oudoor_unit.title %></td>
        <td><%= oudoor_unit.point %></td>
        <td><%= link_to 'Show', oudoor_unit %></td>
        <td><%= link_to 'Edit', edit_oudoor_unit_path(oudoor_unit) %></td>
        <td><%= link_to 'Destroy', oudoor_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oudoor Unit', new_oudoor_unit_path %>
