<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @oudoor_unit.title %>
</p>

<p>
  <strong>Point:</strong>
  <%= @oudoor_unit.point %>
</p>

<%= link_to 'Edit', edit_oudoor_unit_path(@oudoor_unit) %> |
<%= link_to 'Back', oudoor_units_path %>
