<!doctype html>
<html lang="en">
<head>
  <title>Installer AC Mitsubishi Heavy Industry Reward Program</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700,900&family=Lobster&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>

  <div class="menu-mobile-overlay bg-main d-flex flex-column justify-content-between" id="mobile-nav">

    <div class="menu-mobile-triger-close">
      <a href="javascript:void(0)" class="closebtn "  onclick="closeNav()"><i class="fa fa-times fa-2x"  style="color:#e61a58" aria-hidden="true"></i></a>
    </div>


    <img src="<%= asset_url('logo.jpg') %>" class="mx-auto py-4" alt="" style="width:100px;">

    <div class="w-100 py-4">

      <ul>
        <li><a href="<%# howto_path %>">Cara Bergabungx</a></li>
        <li><a href="<%# tnc_path %>">Syarat dan Ketentuan</a></li>
        <li>
          <a href="#">
          <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :style => "background: #e8406b !important;color: white !important;padding: 10px 30px;border-radius: 50px;" %>
            <% else %>
            <a class="nav-link active text-center mn-btn" aria-current="page" href="<%= new_user_session_path %>" style="">Cek Poin Kamu</a>
          <% end %></a>
        </li>
      </ul>


    </div>

    <div class="py-4 menu-footer">
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="my-2 text-light">
            <a href="https://www.facebook.com/ifree.indonesia/" target="_blank" class="m-2 text-light"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/ifree.indonesia" target="_blank" class="m-2 text-light"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCB9QIR4bEn2wfiMLteLTXdQ" target="_blank" class="m-2 text-light"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="d-flex w-100 justify-content-center text-light mb-3">
          <a href="<%# privacy_path %>" class="text-light mx-2"> Privacy Policy </a>
          |
          <a href="<%# tnc_path %>" class="text-light mx-2"> Terms and Condition</a>
        </div>
        <p class="text-light mb-0 text-center">Copyright iFree 2021. All rights reserved.</p>
      </div>
    </div>

  </div>

  <nav class="navbar navbar-expand-lg  fixed-top nav-top  d-none d-md-block" id="">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">
        <img src="<%= asset_url('logo.jpg') %>" alt="" style="width:100px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav main-nav">
          <li class="nav-item">
            <a class="nav-link" href="<%# howto_path %>">Cara Bergabung</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Leaderboard</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="<%# tnc_path %>">Syarat dan Ketentuan</a>
          </li>
        </ul>
        <ul class="navbar-nav ">
          <li class="nav-item">
            <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :style => "background: #e8406b !important;color: white !important;padding: 10px 30px;border-radius: 50px;" %>
              <% else %>
              <a class="nav-link active text-center mn-btn" aria-current="page" href="<%= new_user_session_path %>" style="">Cek Poin Kamu</a>
            <% end %>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <% if @menu_homepage == true %>

  <div class="menu-mobile-triger-open d-md-none">
    <a href="javascript:void(0)" class="closebtn text-light" onclick="openNav()"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
  </div>

  <% else %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top  w-100 d-md-none">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">
        <img src="<%= asset_url('logo.jpg') %>" alt="" style="width:100px;">
      </a>
      <a href="javascript:void(0)" class="closebtn " onclick="openNav()"><i class="fa fa-bars fa-2x" style="color:#e61a58" aria-hidden="true"></i></a>

    </div>
  </nav>



  <% end %>


  <%= yield %>

  <div class="footer">
    <div class="container">
      <div class="row align-items-center text-light">

        <div class="col-md-4 text-light">
          <a href="#" class="text-light"> Privacy Policy </a>
          |
          <a href="#" class="text-light"> Terms and Condition </a>
        </div>
        <div class="col-md-4 text-center text-light">
          ©2021 Mitsubishi All rights reserved
        </div>
        <div class="col-md-4 my-2 text-light d-flex justify-content-end">
            <a href="https://www.facebook.com/ifree.indonesia/" target="_blank" class="m-2 text-light"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/ifree.indonesia" target="_blank" class="m-2 text-light"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCB9QIR4bEn2wfiMLteLTXdQ" target="_blank" class="m-2 text-light"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </div>
      </div>

    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  <script type="text/javascript">

    $(function () {
      $(document).scroll(function () {
        var $nav = $(".navbar");
        $nav.toggleClass('scrolled shadow-sm', $(this).scrollTop() > $nav.height() +15);
        $('#navbarNav').toggleClass('scroll', $(this).scrollTop() > $nav.height() +15);
      });
    });

  </script>


</body>
</html>
